<configuration>
    <appender name="MainAppender" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/bronzethistle/broker/broker.log</file>
        <encoder>
            <pattern>%date %level %logger{10} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="MainAppender" />
    </root>
</configuration>