<configuration>
	<appender name="MainAppender" class="ch.qos.logback.core.FileAppender">
		<file>/var/log/bronzethistle/edgeserver/edgeserver.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="MainAppender" />
	</root>
</configuration>